In [34]:
import pandas as pd

In [35]:
df = pd.read_csv("data/kalimati_final.csv")
df.head()

,Commodity,Date,Unit,Minimum,Maximum,Average,Group,Category
0,Tomato Big(Nepali),2013-06-16,KG,35.0,40.0,37.5,Tomato,Vegetable
1,Tomato Small(Local),2013-06-16,KG,26.0,32.0,29.0,Tomato,Vegetable
2,Potato Red,2013-06-16,KG,20.0,21.0,20.5,Potato,Vegetable
3,Potato White,2013-06-16,KG,15.0,16.0,15.5,Potato,Vegetable
4,Onion Dry (Indian),2013-06-16,KG,28.0,30.0,29.0,Onion,Vegetable

In [36]:
df.dtypes

Commodity     object
Date          object
Unit          object
Minimum      float64
Maximum      float64
Average      float64
Group         object
Category      object
dtype: object

In [37]:
df['Date'] = pd.to_datetime(df['Date'], format='mixed', dayfirst=True)
print(df.dtypes)
df['Date'].max()

Commodity            object
Date         datetime64[ns]
Unit                 object
Minimum             float64
Maximum             float64
Average             float64
Group                object
Category             object
dtype: object

Timestamp('2023-09-28 00:00:00')

In [38]:
df = df.drop(['Group', 'Category'], axis=1)
df.head()

             Commodity       Date Unit  Minimum  Maximum  Average
0   Tomato Big(Nepali) 2013-06-16   KG     35.0     40.0     37.5
1  Tomato Small(Local) 2013-06-16   KG     26.0     32.0     29.0
2           Potato Red 2013-06-16   KG     20.0     21.0     20.5
3         Potato White 2013-06-16   KG     15.0     16.0     15.5
4   Onion Dry (Indian) 2013-06-16   KG     28.0     30.0     29.0

In [39]:
df_latest =  pd.read_csv("data/kalimati_latest.csv")
df_latest.head()

              Commodity        Date Unit  Minimum  Maximum  Average
0    Tomato Big(Indian)  2023-09-29   KG     40.0     50.0    43.75
1   Tomato Small(Local)  2023-09-29   KG     50.0     60.0    55.00
2  Tomato Small(Tunnel)  2023-09-29   KG     65.0     78.0    69.60
3  Tomato Small(Indian)  2023-09-29   KG     50.0     55.0    52.50
4            Potato Red  2023-09-29   KG     56.0     58.0    57.00

In [40]:
df_latest.dtypes

Commodity     object
Date          object
Unit          object
Minimum      float64
Maximum      float64
Average      float64
dtype: object

In [41]:
df_latest['Date'] = pd.to_datetime(df_latest['Date'], format='mixed', dayfirst=True)
df_latest.dtypes

Commodity            object
Date         datetime64[ns]
Unit                 object
Minimum             float64
Maximum             float64
Average             float64
dtype: object

In [42]:
df_latest['Unit'].unique()

array(['KG', 'Per Dozen', '1 Pc', 'Kg', 'Per Piece'], dtype=object)

In [43]:
unit_mapping = {
    'Kg': 'KG',
    'KG': 'KG',
    'Doz': 'DOZ',
    'Per Dozen': 'DOZ',
    '1 Pc': 'PC',
    'Per Piece': 'PC'
}

df_latest['Unit'] = df_latest['Unit'].map(unit_mapping)

In [44]:
df_latest['Unit'].unique()

array(['KG', 'DOZ', 'PC'], dtype=object)

In [45]:
df.dtypes

Commodity            object
Date         datetime64[ns]
Unit                 object
Minimum             float64
Maximum             float64
Average             float64
dtype: object

In [46]:
df_final = pd.concat([df, df_latest], axis=0)
df_final.head()

             Commodity       Date Unit  Minimum  Maximum  Average
0   Tomato Big(Nepali) 2013-06-16   KG     35.0     40.0     37.5
1  Tomato Small(Local) 2013-06-16   KG     26.0     32.0     29.0
2           Potato Red 2013-06-16   KG     20.0     21.0     20.5
3         Potato White 2013-06-16   KG     15.0     16.0     15.5
4   Onion Dry (Indian) 2013-06-16   KG     28.0     30.0     29.0

In [47]:
print(df.shape)
print(df_latest.shape)
print(df_final.shape)

(293641, 6)
(44874, 6)
(338515, 6)

In [49]:
df_final['Unit'].unique()

array(['KG', 'DOZ', 'PC'], dtype=object)

In [50]:
df_final.dtypes

Commodity            object
Date         datetime64[ns]
Unit                 object
Minimum             float64
Maximum             float64
Average             float64
dtype: object

In [51]:
df_final['Commodity'].unique()

array(['Tomato Big(Nepali)', 'Tomato Small(Local)', 'Potato Red',
       'Potato White', 'Onion Dry (Indian)', 'Carrot(Local)',
       'Cabbage(Local)', 'Cauli Local', 'Raddish Red',
       'Raddish White(Local)', 'Brinjal Long', 'Brinjal Round',
       'Cow pea(Long)', 'Green Peas', 'French Bean(Local)',
       'Soyabean Green', 'Bitter Gourd', 'Bottle Gourd',
       'Pointed Gourd(Local)', 'Snake Gourd', 'Smooth Gourd',
       'Sponge Gourd', 'Pumpkin', 'Squash(Long)', 'Turnip', 'Okara',
       'Christophine', 'Brd Leaf Mustard', 'Spinach Leaf', 'Cress Leaf',
       'Mustard Leaf', 'Fenugreek Leaf', 'Onion Green', 'Mushroom(Kanya)',
       'Asparagus', 'Neuro', 'Brocauli', 'Sugarbeet', 'Drumstick',
       'Red Cabbbage', 'Lettuce', 'Celery', 'Parseley', 'Fennel Leaf',
       'Mint', 'Turnip A', 'Tamarind', 'Bamboo Shoot', 'Tofu', 'Gundruk',
       'Apple(Jholey)', 'Banana', 'Lime', 'Pomegranate', 'Mango(Maldah)',
       'Grapes(Green)', 'Water Melon(Green)', 'Sweet Orange', 'Pineapple',
       'Cucumber(Local)', 'Jack Fruit', 'Papaya(Nepali)', 'Sugarcane',
       'Ginger', 'Chilli Dry', 'Chilli Green', 'Capsicum', 'Garlic Green',
       'Coriander Green', 'Garlic Dry Chinese', 'Garlic Dry Nepali',
       'Clive Dry', 'Clive Green', 'Fish Fresh', 'Arum', 'Maize',
       'Sweet Lime', 'Guava', 'Mombin', 'Barela', 'Lemon', 'Sword Bean',
       'Orange(Nepali)', 'Bakula', 'Yam', 'Sweet Potato', 'Mandarin',
       'Knolkhol', 'Cauli Terai', 'Kinnow', 'Strawberry',
       'Bauhania flower', 'Pear(Local)', 'Litchi(Local)', 'Musk Melon',
       'Tomato Small(Tunnel)', 'Potato Red(Indian)', 'Mushroom(Button)',
       'Apple(Fuji)', 'Cucumber(Hybrid)', 'Chilli Green(Bullet)',
       'Chilli Green(Machhe)', 'Chilli Green(Akbare)', 'Fish Fresh(Rahu)',
       'Fish Fresh(Bachuwa)', 'Fish Fresh(Chhadi)', 'Fish Fresh(Mungari)',
       'Raddish White(Hybrid)', 'Cowpea(Short)', 'French Bean(Hybrid)',
       'French Bean(Rajma)', 'Squash(Round)', 'Mango(Dushari)',
       'Water Melon(Dotted)', 'Papaya(Indian)', 'Litchi(Indian)',
       'Cabbage', 'Potato Red(Mude)', 'Tomato Big(Indian)',
       'Pear(Chinese)', 'Tomato Small(Indian)', 'Orange(Indian)',
       'Carrot(Terai)', 'Tomato Small(Terai)', 'Onion Dry (Chinese)',
       'Cabbage(Terai)', 'Cauli Local(Jyapu)', 'Pointed Gourd(Terai)',
       'Grapes(Black)', 'Kiwi', 'Mango(Calcutte)', 'Mango(Chousa)',
       'Sarifa', 'Avocado', 'Amla', 'Tree Tomato', 'King Oyster',
       'Lentinula Edodes'], dtype=object)

In [66]:
arrivals_old = pd.read_csv("data/arrivals_old.csv")
arrivals_old.head()

         Date     Commodity Unit   Arrival
0  2021-12-16  Tomato Small   KG   73019.0
1  2021-12-16    Potato Red   KG  141960.0
2  2021-12-16  Potato White   KG    3850.0
3  2021-12-16        Carrot   KG    2090.0
4  2021-12-16       Cabbage   KG   34890.0

In [67]:
arrivals_new = pd.read_csv("data/arrivals_new.csv")
arrivals_new.head()

         Date     Commodity Unit   Arrival
0  2023-09-29    Tomato Big   KG   38750.0
1  2023-09-29  Tomato Small   KG   25930.0
2  2023-09-29    Potato Red   KG  298464.0
3  2023-09-29     Onion Dry   KG   96000.0
4  2023-09-29        Carrot   KG   13550.0

In [70]:
print(arrivals_old['Date'].max())
print(arrivals_new['Date'].min())

2023-09-28
2023-09-29

In [71]:
print(arrivals_old.dtypes)
print(arrivals_new.dtypes)

Date          object
Commodity     object
Unit          object
Arrival      float64
dtype: object
Date          object
Commodity     object
Unit          object
Arrival      float64
dtype: object

In [72]:
arrivals_final = pd.concat([arrivals_old, arrivals_new], axis=0)
arrivals_final.head()

         Date     Commodity Unit   Arrival
0  2021-12-16  Tomato Small   KG   73019.0
1  2021-12-16    Potato Red   KG  141960.0
2  2021-12-16  Potato White   KG    3850.0
3  2021-12-16        Carrot   KG    2090.0
4  2021-12-16       Cabbage   KG   34890.0

In [73]:
print(arrivals_old.shape)
print(arrivals_new.shape)
print(arrivals_final.shape)

(27262, 4)
(19454, 4)
(46716, 4)

In [74]:
arrivals_final['Unit'].unique()

array(['KG', 'Per Piece', 'Kg'], dtype=object)

In [75]:
arrivals_unit_mapping = {
    'KG': 'KG',
    'Kg': 'KG',
    'Per Piece': 'PC'
}

arrivals_final['Unit'] = arrivals_final['Unit'].map(arrivals_unit_mapping)

In [77]:
arrivals_final['Unit'].unique()

array(['KG', 'PC'], dtype=object)

In [78]:
arrivals_final.dtypes

Date          object
Commodity     object
Unit          object
Arrival      float64
dtype: object

In [79]:
arrivals_final['Date'] = pd.to_datetime(arrivals_final['Date'], format='mixed', dayfirst=True)

In [80]:
arrivals_final.dtypes

Date         datetime64[ns]
Commodity            object
Unit                 object
Arrival             float64
dtype: object

In [81]:
arrivals_final['Commodity'].unique()

array(['Tomato Small', 'Potato Red', 'Potato White', 'Carrot', 'Cabbage',
       'Cauli Local', 'Raddish White', 'Brinjal Long', 'Cow pea',
       'Green Peas', 'French Bean', 'Sword Bean', 'Soyabean Green',
       'Bitter Gourd', 'Pointed Gourd', 'Squash', 'Okara', 'Barela',
       'Arum', 'Christophine', 'Brd Leaf Mustard', 'Mustard Leaf',
       'Onion Green', 'Bakula', 'Yam', 'Mushroom', 'Brocauli', 'Apple',
       'Banana', 'Lime', 'Orange', 'Cucumber', 'Lemon', 'Papaya',
       'Mombin', 'Ginger', 'Chilli Green', 'Capsicum', 'Garlic Green',
       'Coriander Green', 'Garlic Dry', 'Clive Green', 'Fish Fresh',
       'Other', 'Onion Dry', 'Bottle Gourd', 'Pumpkin', 'Sweet Potato',
       'Sugarbeet', 'Guava', 'Chilli Dry', 'Smooth Gourd', 'Tomato Big',
       'Raddish Red', 'Snake Gourd', 'Spinach Leaf', 'Fish Dry',
       'Cress Leaf', 'Tamarind', 'Brinjal Round', 'Knolkhol',
       'Fenugreek Leaf', 'Jack Fruit', 'Pomegranate', 'Grapes',
       'Strawberry', 'Maize', 'Kinnow', 'Amla', 'Sweet Orange',
       'Musk Melon', 'Water Melon', 'Drumstick', 'Gundruk', 'Sweet Lime',
       'Bauhania flower', 'Neuro', 'Sponge Gourd', 'Pineapple',
       'Asparagus', 'Pear', 'Parseley', 'Mango', 'Avocado', 'Litchi',
       'Bamboo Shoot', 'Tofu', 'Clive Dry', 'Mandarin', 'Sarifa',
       'Turnip', 'Sugarcane', 'Kiwi', 'Celery', 'Red Cabbbage', 'Lettuce',
       'Turnip A', 'Flower', 'Tree Tomato'], dtype=object)

In [82]:
def create_fam_hierarchy(df1, df2):
    commodity_map = {}
    unique_det = df1['Commodity'].unique()
    unique_fam = df2['Commodity'].unique()
    
    for detailed_com in unique_det:
        for family_com in unique_fam:
            if family_com in detailed_com:
                commodity_map[detailed_com] = family_com
    
        if (detailed_com not in commodity_map):
            commodity_map[detailed_com] = detailed_com

    result_df = df1.copy()
    result_df['Family'] = result_df['Commodity'].map(commodity_map)
    return result_df

In [84]:
result_df = create_fam_hierarchy(df_final, arrivals_final)
result_df

,Commodity,Date,Unit,Minimum,Maximum,Average,Family
0,Tomato Big(Nepali),2013-06-16,KG,35.0,40.0,37.50,Tomato Big
1,Tomato Small(Local),2013-06-16,KG,26.0,32.0,29.00,Tomato Small
2,Potato Red,2013-06-16,KG,20.0,21.0,20.50,Potato Red
3,Potato White,2013-06-16,KG,15.0,16.0,15.50,Potato White
4,Onion Dry (Indian),2013-06-16,KG,28.0,30.0,29.00,Onion Dry
...,...,...,...,...,...,...,...
44869,Fish Fresh(Chhadi),2024-12-23,KG,240.0,260.0,250.00,Fish Fresh
44870,Fish Fresh(Mungari),2024-12-23,KG,400.0,450.0,426.67,Fish Fresh
44871,Tree Tomato,2024-12-23,KG,150.0,160.0,155.00,Tree Tomato
44872,King Oyster,2024-12-23,KG,280.0,300.0,290.00,King Oyster
44873,Lentinula Edodes,2024-12-23,KG,700.0,800.0,750.00,Lentinula Edodes

In [85]:
result_df['Family'].unique()

array(['Tomato Big', 'Tomato Small', 'Potato Red', 'Potato White',
       'Onion Dry', 'Carrot', 'Cabbage', 'Cauli Local', 'Raddish Red',
       'Raddish White', 'Brinjal Long', 'Brinjal Round', 'Cow pea',
       'Green Peas', 'French Bean', 'Soyabean Green', 'Bitter Gourd',
       'Bottle Gourd', 'Pointed Gourd', 'Snake Gourd', 'Smooth Gourd',
       'Sponge Gourd', 'Pumpkin', 'Squash', 'Turnip', 'Okara',
       'Christophine', 'Brd Leaf Mustard', 'Spinach Leaf', 'Cress Leaf',
       'Mustard Leaf', 'Fenugreek Leaf', 'Onion Green', 'Mushroom',
       'Asparagus', 'Neuro', 'Brocauli', 'Sugarbeet', 'Drumstick',
       'Red Cabbbage', 'Lettuce', 'Celery', 'Parseley', 'Fennel Leaf',
       'Mint', 'Turnip A', 'Tamarind', 'Bamboo Shoot', 'Tofu', 'Gundruk',
       'Apple', 'Banana', 'Lime', 'Pomegranate', 'Mango', 'Grapes',
       'Water Melon', 'Sweet Orange', 'Pineapple', 'Cucumber',
       'Jack Fruit', 'Papaya', 'Sugarcane', 'Ginger', 'Chilli Dry',
       'Chilli Green', 'Capsicum', 'Garlic Green', 'Coriander Green',
       'Garlic Dry', 'Clive Dry', 'Clive Green', 'Fish Fresh', 'Arum',
       'Maize', 'Sweet Lime', 'Guava', 'Mombin', 'Barela', 'Lemon',
       'Sword Bean', 'Orange', 'Bakula', 'Yam', 'Sweet Potato',
       'Mandarin', 'Knolkhol', 'Cauli Terai', 'Kinnow', 'Strawberry',
       'Bauhania flower', 'Pear', 'Litchi', 'Musk Melon', 'Cowpea(Short)',
       'Kiwi', 'Sarifa', 'Avocado', 'Amla', 'Tree Tomato', 'King Oyster',
       'Lentinula Edodes'], dtype=object)

In [86]:
def classify_commodities(df, debug=True):
    """
    Classify commodities into groups and categories.
    
    Parameters:
    df (pandas.DataFrame): DataFrame containing a 'Commodity' column
    debug (bool): If True, prints debug information about unmatched items
    
    Returns:
    pandas.DataFrame: DataFrame with additional 'Group' and 'Category' columns
    """
    # Create a copy to avoid modifying the original DataFrame
    df_classified = df.copy()
    
    # Define grouping mapping
    group_mapping = {
        # Tomatoes
        'Tomato': ['Tomato Big', 'Tomato Small', 'Tree Tomato'],
        
        # Potatoes
        'Potato': ['Potato Red', 'Potato White', 'Sweet Potato'],
        
        # Onions
        'Onion': ['Onion Dry', 'Onion Green'],
        
        # Root Vegetables
        'Root Vegetables': ['Carrot', 'Turnip', 'Turnip A', 'Raddish Red', 
                          'Raddish White', 'Sugarbeet', 'Bakula', 'Yam', 
                          'Arum'],
        
        # Cabbage family
        'Cabbage': ['Cabbage', 'Red Cabbbage', 'Cauli Local', 'Cauli Terai',
                    'Brocauli', 'Knolkhol'],
        
        # Eggplants
        'Eggplant': ['Brinjal Long', 'Brinjal Round'],
        
        # Beans and Peas
        'Beans & Peas': ['Cow pea', 'Cowpea(Short)', 'Green Peas', 'French Bean',
                        'Sword Bean', 'Soyabean Green'],
        
        # Gourds
        'Gourd': ['Bitter Gourd', 'Bottle Gourd', 'Pointed Gourd',
                  'Snake Gourd', 'Smooth Gourd', 'Sponge Gourd', 'Pumpkin',
                  'Squash'],
        
        # Leafy Greens
        'Leafy Greens': ['Brd Leaf Mustard', 'Spinach Leaf', 'Cress Leaf',
                        'Mustard Leaf', 'Fenugreek Leaf', 'Lettuce', 'Celery',
                        'Parseley', 'Fennel Leaf', 'Mint', 'Bauhania flower'],
        
        # Chilies and Peppers
        'Chili & Pepper': ['Chilli Dry', 'Chilli Green', 'Capsicum'],
        
        # Garlic and Clive
        'Garlic': ['Garlic Green', 'Garlic Dry', 'Clive Dry', 'Clive Green'],
        
        # Fish
        'Fish': ['Fish Fresh'],
        
        # Citrus
        'Citrus': ['Lime', 'Sweet Lime', 'Lemon', 'Orange', 'Sweet Orange',
                   'Mandarin', 'Kinnow'],
        
        # Berries
        'Berries': ['Strawberry'],
        
        # Mango
        'Mango': ['Mango'],
        
        # Mushroom
        'Mushroom': ['Mushroom', 'King Oyster', 'Lentinula Edodes'],
        
        # Other vegetables
        'Other Vegetables': ['Okara', 'Christophine', 'Asparagus', 'Neuro',
                           'Drumstick', 'Bamboo Shoot', 'Tofu', 'Gundruk',
                           'Barela'],
        
        # Other fruits
        'Other Fruits': ['Apple', 'Banana', 'Pomegranate', 'Grapes',
                        'Water Melon', 'Pineapple', 'Cucumber', 'Jack Fruit',
                        'Papaya', 'Guava', 'Mombin', 'Pear', 'Litchi',
                        'Musk Melon', 'Kiwi', 'Sarifa', 'Avocado', 'Amla'],
        
        # Herbs and Spices
        'Herbs & Spices': ['Tamarind', 'Ginger', 'Coriander Green'],
        
        # Grains
        'Grains': ['Maize', 'Sugarcane']
    }
    
    # Define category mapping
    category_mapping = {
        'Vegetable': ['Tomato', 'Potato', 'Onion', 'Root Vegetables', 'Cabbage',
                     'Eggplant', 'Beans & Peas', 'Gourd', 'Leafy Greens',
                     'Chili & Pepper', 'Garlic', 'Other Vegetables', 'Mushroom'],
        'Fruit': ['Citrus', 'Mango', 'Other Fruits', 'Berries'],
        'Non-veg': ['Fish'],
        'Herbs & Spices': ['Herbs & Spices'],
        'Grain': ['Grains']
    }
    
    # Create reverse mappings for easy lookup
    commodity_to_group = {commodity: group
                         for group, commodities in group_mapping.items()
                         for commodity in commodities}
    
    group_to_category = {group: category
                        for category, groups in category_mapping.items()
                        for group in groups}
    
    # Add Group column
    df_classified['Group'] = df_classified['Family'].map(commodity_to_group)
    
    # Add Category column
    df_classified['Category'] = df_classified['Group'].map(group_to_category)
    
    # Debug information
    if debug:
        unmatched = df_classified[df_classified['Group'].isnull()]['Family'].unique()
        if len(unmatched) > 0:
            print("\nUnmatched commodities:")
            for item in unmatched:
                print(f"- '{item}'")
    
    return df_classified

In [87]:
df_categorized = classify_commodities(result_df)
df_categorized

,Commodity,Date,Unit,Minimum,Maximum,Average,Family,Group,Category
0,Tomato Big(Nepali),2013-06-16,KG,35.0,40.0,37.50,Tomato Big,Tomato,Vegetable
1,Tomato Small(Local),2013-06-16,KG,26.0,32.0,29.00,Tomato Small,Tomato,Vegetable
2,Potato Red,2013-06-16,KG,20.0,21.0,20.50,Potato Red,Potato,Vegetable
3,Potato White,2013-06-16,KG,15.0,16.0,15.50,Potato White,Potato,Vegetable
4,Onion Dry (Indian),2013-06-16,KG,28.0,30.0,29.00,Onion Dry,Onion,Vegetable
...,...,...,...,...,...,...,...,...,...
44869,Fish Fresh(Chhadi),2024-12-23,KG,240.0,260.0,250.00,Fish Fresh,Fish,Non-veg
44870,Fish Fresh(Mungari),2024-12-23,KG,400.0,450.0,426.67,Fish Fresh,Fish,Non-veg
44871,Tree Tomato,2024-12-23,KG,150.0,160.0,155.00,Tree Tomato,Tomato,Vegetable
44872,King Oyster,2024-12-23,KG,280.0,300.0,290.00,King Oyster,Mushroom,Vegetable
44873,Lentinula Edodes,2024-12-23,KG,700.0,800.0,750.00,Lentinula Edodes,Mushroom,Vegetable

In [93]:
df_categorized.isnull().sum()

Commodity    0
Date         0
Unit         0
Minimum      0
Maximum      0
Average      0
Family       0
Group        0
Category     0
dtype: int64

In [94]:
df_categorized.to_csv("data/kalimati_final_with_family.csv", index=False)